name: release
on:
  push:
    branches: [main, beta]
jobs:
  check:
    uses: ./.github/workflows/check.yml
  release:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'recap-utr' }}
    needs: check
    permissions:
      contents: write
    outputs:
      version: ${{ steps.semanticrelease.outputs.version }}
      released: ${{ steps.semanticrelease.outputs.released }}
      git-head: ${{ steps.semanticrelease.outputs.git-head }}
    environment:
      name: release
      url: https://github.com/wi2trier/cbrkit/releases/tag/${{ steps.semanticrelease.outputs.git-tag }}
    steps:
      - uses: actions/checkout@v5
      - uses: cihelper/action-semanticrelease-npm@v1
        id: semanticrelease
  deploy-docker:
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.released == 'true' }}
    permissions:
      contents: read
      packages: write
    environment:
      name: release
      url: https://ghcr.io/recap-utr/arguemapper
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ needs.release.outputs.git-head }}
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
            log-lines = 1000
      - uses: cachix/cachix-action@v16
        with:
          name: recap
          authToken: ${{ secrets.CACHIX_TOKEN }}
      - run: nix run .#docker-manifest --impure
        env:
          VERSION: ${{ needs.release.outputs.version }}
          GH_TOKEN: ${{ github.token }}
